$primary-color: #0027D5;
$secondary-color: #4B4B4B;

@import "cssReset";
@import "common";
@import "index";
@import "blog";
@import "article";

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@keyframes shine1 {

    0%,
    100% {
        background: $primary-color;
        color: #FFFFFF;
    }

    50% {
        color: $primary-color;
        background: #FFFFFF;
    }
}

@keyframes shine2 {

    0%,
    100% {
        color: #000000;
    }

    50% {
        color: #FFFFFF;
    }
}

/* ------------------------------ */